{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'SignUp.css' %}?1.9" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Protest+Strike&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <h1>
            <title class="title">Sellity</title>
        </h1>
        <form action="" method="post" class="form">
            <h1>Create an account</h1>
            {% csrf_token %}
            {{form}}
            <button class="form__btn" type="submit">Sign Up</button>
        </form>
    </section>
</body>
</html>