{% extends 'Base.html' %}

<!DOCTYPE html>
<html lang="en">
<body>
    {% block content %}
    <section class="container">
        <h1>
            <title class="title">Sellity</title>
        </h1>
        <form action="" method="post" class="form">
            <h1>Create an account</h1>
            {% csrf_token %}
            {{form}}
            <button class="form__btn" type="submit">Sign Up</button>
            <span>Do you have an account? <a href="{% url 'login' %}">Log in</a></span>
        </form>
    </section>
    {% endblock %}
</body>

</html>